.grocery-item {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 8px;
  text-align: center;
  display: flex;

  button {
    margin-top: 0.5rem;
    padding: 0.3rem 0.6rem;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #218838;
    }
  }

  img {
    height: 100px;
    width: 100px;
  }
}
